{% extends 'base.html' %}
{% block contents %}

  <div class="container">
    {% for blog_data in blogs.all %}
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">{{blog_data.title}}</h1>
          <h6 class="card-subtitle mb-2 text-muted">{{blog_data.date}}</h6>
          <p class="card-text">{{blog_data.summary}}</p>
          <a href="{% url 'detail' blog_data.id %}" class="card-link">...more</a>
        </div>
      </div>
      <br><br>
    {% endfor %}
  </div>

{% endblock %}