{% extends 'base.html' %}
{% block contents %}

  <div class="container">
    <h1>Sign up</h1>
    <form method="POST" action="{% url 'signup' %}">
      <!--보안을 위한 난수발생-->
      {% csrf_token %}

      UserNmae:
      <br>
      <input type="text" name="username" value="">
      <br>
      Password:
      <br>
      <input type="password" name="password" value="">
      <br>
      Confirm Password:
      <br>
      <input type="password" name="password2" value="">
      <br>
      <br>
      <input class="btn btn-primary" type="submit" value="Sign up">
    </form>
  </div>
{% endblock contents %}
